*{
  margin:0;
  padding:0;
  text-decoration: none;
  

  
}
.container{
  display:flex;
  position:sticky;
  background-image: url(../public/images/blackboard.jpg);
  
  
  
  
}
main{
  width: 100%;
  padding: 50px;
  
 
}
.sidebar{
  background: #6c6b6a;
  color: #fff;
  height: 100vh;
  width: 380px;
  transition: all 0.5s;
  position: sticky;
  top: 0px;
  
  
 
}
.top_section{
  display: flex;
  align-items:center;
  padding:20px 10px;
}
.logo{
  font-size: 25px;
  color:#f78b07 ;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
 /*background:#f78b07;*/
  color: #f7ef07;
  transition: all 0.5s;
}
.active{
  background: #f78b07;
  color: #000;
}
.icon, .link_text{
  font-size: 20px;
}
/*........dashboardd.......*/

.dashboard {
  padding: 50px 0;
  position:sticky;
  
  
  
  
}



.dashboard .items {
  background-color: #fff;
  padding: 30px;
  text-align: center;
  width: 200px;;
  height: 250px;
  gap: 30px;
 
  
}
.dashboard .img {
  width: 100px;
  height: 100px;
  border-radius:0%;
  background-color: #fff;
  padding: 15px;
}
.dashboard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dashboard .text {
  margin-left: 15px;
  text-align: left;
}
.dashboard .text h1 {
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
}


.dashboard .details .dimg img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}
.dashboard .details .box {
  display: flex;
  align-items: center;
  color: grey;
  
}
.dashboard .details span {
  color: #000;
  font-weight: 500;
  font-size: 14px;
}

.dashboard h3 {
  font-weight: 500;
  color: #ff7300;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  
}
.outline-btn {
  margin: 0;
  box-shadow: none;
  border: 2px solid #fff;
  width: 100%;
  transition: 0.5s;
}
.outline-btn:hover {
  background-color: #ff7300;
  color: #fff;
}
.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.padding {
  padding: 80px 0;
}
.shadow {
  box-shadow: 0 5px 25px -2px rgb(0 0 0 / 6%);
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .grid2,
  .grid3,
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .back {
    background-position: center;
    padding-top: 50%;
    height: 80vh;
  }
}

.imageAdmin{
  background-image: url(../public/images/user.jpg);
}